<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myntra">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Myntra">
        <activity android:name=".Order.AddressActivity"></activity>
        <activity android:name=".DataList.FootWearActivity" />
        <activity android:name=".Order.OrderActivity"></activity>
        <activity
            android:name=".Order.WishlistActivity"
            android:label="@string/title_activity_wishlist"
            android:theme="@style/Theme.Myntra.NoActionBar" />
        <activity android:name=".Product.ProductDetailedView" />
        <activity android:name=".Order.ShoppingBag" />
        <activity android:name=".DataList.KidsActivity" />
        <activity android:name=".DataList.GadgetsActivity" />
        <activity android:name=".DataList.WomenActivity" />
        <activity android:name=".DataList.MenActivity" />
        <activity android:name=".Login.ForgotActivity" />
        <activity android:name=".Login.SignUpActivity" />
        <activity android:name=".Login.Login_Activity" />
        <activity android:name=".NavBarAvtivity.ProfileActivity" />
        <activity android:name=".NavBarAvtivity.ExploreActivity" />
        <activity android:name=".NavBarAvtivity.Studio.StudioActivity" />
        <activity android:name=".NavBarAvtivity.Catogries.CategoriesActivity" />
        <activity android:name=".NavBarAvtivity.Home.HomeActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>